//File with user data for login

{
    "spieler": [
      {
        "username": "johndoe",  // Username
        "anzeigename": "john",  //Anzeigename
        "passwort": "efbAX6PvA7", //Passwort
        "mannschaft": "herren" //herren oder damen
      }
    ]
  }